/* Estilos para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

/* Estilos para el contenedor del logo */
.logoContainer {
  display: flex;
  align-items: center; /* Alinea el logo verticalmente al centro */
  margin-left: 5%; /* Aplica margen del 5% a la izquierda */
}

/* Estilos para la imagen del logo */
.logoImage {
  width: 100px; /* Aumenta el tamaño del logo a 100px */
  height: 100px; /* Aumenta el tamaño del logo a 100px */
  margin-right: 10px; /* Espaciado entre el logo y el texto */
}

/* Estilos para la barra de navegación */
.nav {
  display: flex;
  gap: 15px;
}
